.frontierscum .horsesheet .horsesheet-body {
  display: flex;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  input {
    width: 100%;
  }  
  .inner1 {
    padding: 2px;
  }
  .inner1, .inner2 {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    flex: 1;
  }
  .name-block {
    padding: 5px;
    .field-row {
      display: flex;
      margin-bottom: 4px;
      label {
        font-family: $label-font;
        font-size: 1.7rem;
        margin-right: 4px;
      }
      input {
        padding-left: 10px;
        text-align: left;
      }      
    }
  }
  .bottom-cols {
    display: flex;
    .left-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      padding-left: 10px;
      padding-right: 20px;
      .portrait-block {
        border: 2px solid black;
        // padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 234px;
        // width: 234px;
        height: 264px;
        width: 264px;
        margin-bottom: 10px;
        img {
          border: 2px solid black;
          height: 254px;
          width: 254px;
          padding: 0;
          margin: 0;
        }  
      }
    }
    .right-col {
      flex: 1;
    }
  }
  .on-your-horse {
    display: flex;
    flex-direction: column;
    width: 100%;
    .on-horse-row {
      flex: 0 0 20px;
      padding: 2px;
      input[type='number'],
      input[type='text'] {
        font-size: 0.9rem; 
      }      
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12)
       {
        padding-left: 10px;
      }
    }
  }
  .stolen-block {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .stats {
      width: 300px;
      .stat-row {
        display: flex;
        justify-content: center;
        .stat-block {
          display: flex;
          align-items: center;
          label {
            font-family: $slab-font;
            font-size: 1.3rem;
            margin-right: 8px;
            width: 120px;
            text-align: right;
          } 
          .horseshoe {
            background-image: url('https://raw.githubusercontent.com/mcglincy/frontierscum-roll20/main/img/horseshoe.png');
            background-size: 100% 100%;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
              margin-right: 8px;
              width: 20px;
            }  
          }
        }
        .stat-block:last-child {
          label {
            width: 80px;
          }
        }
      }  
    }
  }
}