form.frontierscum
  .npcsheet

    .npcsheet-header
      .portrait 
        .portrait-inner 
          img(src='{{actor.img}}', title='{{actor.name}}', data-edit="img")
      .fields-col
        .fields 
          .field-row 
            label name
            input(type='text', name='name', value="{{actor.name}}", placeholder='', spellcheck='false')
          .field-row 
            textarea(name='system.notes') {{data.system.notes}}
        .hp-block 
          .stat-block.hp 
            .name 
              span hp
            .value 
              input(type='number', name='system.hp.value', value='{{data.system.hp.value}}', placeholder=0)
          .stat-block.max-hp 
            .name 
              span max hp
            .value 
              input(type='number', name='system.hp.max', value='{{data.system.hp.max}}', placeholder=0)
          .stat-block.max-hp 
            .name 
              span morale
            .value 
              input(type='number', name='system.morale', value='{{data.system.morale}}')
        .button-row 
            button(name='reaction' class='reaction-button') 
              i(class="fas fa-dice-six")
              | &nbsp; reaction 
            button(name='morale' class='morale-button')
              i(class="fas fa-dice-six")
              | &nbsp; morale

    .npcsheet-body 
      .fields 
        .field-row 
          label attack 
          input(type='text', name='system.attack', value='{{data.system.attack}}', spellcheck='false')
        .field-row 
          label protection 
          input(type='text', name='system.protection', value='{{data.system.protection}}', spellcheck='false')
        .field-row 
          textarea(name='system.special') {{data.system.special}}
