
<form class="frontierscum">
  <div class="scumsheet">
    <div class="scumsheet-header">
      <div class="fs-logo">FRONTIER SCUM</div>
      <div class="wanted">WANTED</div>
      <div class="dead-or-alive">
        <label class="check-container"><input type="radio" name="system.wanted" value="deadOrAlive" {{#ifEq data.system.wanted 'deadOrAlive'}}checked{{/ifEq}} />   <span class="checkmark">  </span>&nbsp;<span>dead or alive</span>&nbsp;</label>/ 
        <label class="check-container"><input type="radio" name="system.wanted" value="dead" {{#ifEq data.system.wanted 'dead'}}checked{{/ifEq}} />   <span class="checkmark">  </span>&nbsp;<span>dead</span>&nbsp;</label>/
        <label class="check-container"><input type="radio" name="system.wanted" value="alive" {{#ifEq data.system.wanted 'alive'}}checked{{/ifEq}} />   <span class="checkmark">  </span>&nbsp;<span>alive</span>&nbsp;</label>
      </div>
    </div>
    <div class="scumsheet-body">
      <div class="name-block">
        <div class="fields"> 
          <div class="field-row">
            <label>name</label>
            <input type="text" name="name" value="{{actor.name}}" placeholder="Kid Pomade" spellcheck="false"/>
          </div>
          <div class="field-row">
            <label>a</label>
            <input type="text" name="system.background" value="{{data.system.background}}" placeholder="Drifter" spellcheck="false"/>
          </div>
          <div class="field-row">
            <label>wanted for</label>
            <input type="text" name="system.wantedFor" value="{{data.system.wantedFor}}" placeholder="Repeated fraud" spellcheck="false"/>
          </div>
        </div>
        <div class="reward">
          <label data-i18n="reward">reward</label>
          <div class="reward-row">
            <div class="input-wrapper">
              <input type="number" name="system.rewards" value="{{data.system.rewards}}"/>
            </div><span class="big-s">
              <label>S</label></span>
          </div>
        </div>
      </div>
      <div class="abilities-block">
        <div class="ability-col">
          <div class="ability">
            <div class="top-label name"> <span class="rollable ability-name" data-ability="grit">grit</span></div>
            <div class="value">
              <input type="number" name="system.abilities.grit" value="{{data.system.abilities.grit}}" placeholder="0"/>
            </div>
          </div>
          <div class="ability">
            <div class="top-label name"> <span class="rollable ability-name" data-ability="slick">slick</span></div>
            <div class="value">
              <input type="number" name="system.abilities.slick" value="{{data.system.abilities.slick}}" placeholder="0"/>
            </div>
          </div>
          <div class="ability">
            <div class="top-label name"> <span class="rollable ability-name" data-ability="wits">wits</span></div>
            <div class="value">
              <input type="number" name="system.abilities.wits" value="{{data.system.abilities.wits}}" placeholder="0"/>
            </div>
          </div>
          <div class="ability">
            <div class="top-label name"> <span class="rollable ability-name" data-ability="luck">luck</span></div>
            <div class="value">
              <input type="number" name="system.abilities.luck" value="{{data.system.abilities.luck}}" placeholder="0"/>
            </div>
          </div>
        </div>
        <div class="portrait-col"><img src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/></div>
        <div class="condition-col">
          <div class="top-label conditions-and-notes">Conditions & Notes</div>
          <div class="condition-row miserable">
            <div class="checkbox">
              <label class="check-container"><input type="checkbox" name="system.miserable" {{#if data.system.miserable}}checked{{/if}} /><span class="checkmark">       </span></label>
            </div>
            <div class="non-checkbox"><span data-i18n="miserable">Miserable</span>&nbsp;(
              <input type="text" name="system.misery" value="{{data.system.misery}}" spellcheck="false"/>&nbsp;). <span>You don't recover HP from rest</span>.
            </div>
          </div>
          <div class="condition-row drunk"> 
            <div class="checkbox">
              <label class="check-container"><input type="checkbox" name="system.drunk" {{#if data.system.drunk}}checked{{/if}} /><span class="checkmark">          </span></label>
            </div>
            <div class="non-checkbox"><span>Drunk</span>.<span>Swap your</span>
              <input type="text" name="system.drunkAbility1" value="{{data.system.drunkAbility1}}" spellcheck="false"/>&nbsp;<span>and</span>
              <input type="text" name="system.drunkAbility2" value="{{data.system.drunkAbility2}}" spellcheck="false"/>&nbsp;until sober.
            </div>
          </div>
          <div class="condition-row notes">
            <textarea name="system.condition1" placeholder="Notes and such" spellcheck="false">{{data.system.condition1}}</textarea>
          </div>
          <div class="condition-row notes">
            <textarea name="system.condition2" placeholder="More of 'em" spellcheck="false">{{data.system.condition2}}</textarea>
          </div>
        </div>
      </div>
      <div class="hp-block"> 
        <div class="stat-block hp"> 
          <div class="name"> <span>hp</span></div>
          <div class="value"> 
            <input type="number" name="system.hp.value" value="{{data.system.hp.value}}" placeholder="0"/>
          </div>
        </div>
        <div class="stat-block max-hp"> 
          <div class="name"> <span>max hp</span></div>
          <div class="value"> 
            <input type="number" name="system.hp.max" value="{{data.system.hp.max}}" placeholder="0"/>
          </div>
        </div>
        <div class="stat-block aces"> 
          <div class="name"> <span>aces</span></div>
          <div class="value"> 
            <input type="number" name="system.aces" value="{{data.system.aces}}" placeholder="0"/>
          </div>
        </div>
      </div>
      <div class="equipment-block">
        <div class="eq-col-1">
          <div class="eq-section on-your-head">
            <div class="top-label"><span>on your head</span></div>
            <div class="eq-row">
              <input type="text" name="system.headSlot" value="{{data.system.headSlot}}"/>
            </div>
          </div>
          <div class="eq-section skills">
            <div class="skills-label"><span>skills</span></div>
            <div class="eq-row">
              <input type="text" name="system.skill1" value="{{data.system.skill1}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.skill2" value="{{data.system.skill2}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.skill3" value="{{data.system.skill3}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.skill4" value="{{data.system.skill4}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.skill5" value="{{data.system.skill5}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.skill6" value="{{data.system.skill6}}"/>
            </div>
          </div>
        </div>
        <div class="eq-col-2">
          <div class="eq-section on-your-belt">
            <div class="top-label"><span>on your belt</span></div>
            <div class="eq-row">
              <input type="text" name="system.beltSlot1" value="{{data.system.beltSlot1}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.beltSlot2" value="{{data.system.beltSlot2}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.beltSlot3" value="{{data.system.beltSlot3}}"/>
            </div>
          </div>
          <div class="eq-section on-your-back">
            <div class="top-label"><span>on your back</span></div>
            <div class="eq-row">
              <input type="text" name="system.backSlot1" value="{{data.system.backSlot1}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.backSlot2" value="{{data.system.backSlot2}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.backSlot3" value="{{data.system.backSlot3}}"/>
            </div>
          </div>
        </div>
        <div class="eq-col-3"> 
          <div class="eq-section in-your-pockets">
            <div class="top-label"><span>in your pockets</span></div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot1" value="{{data.system.pocketSlot1}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot2" value="{{data.system.pocketSlot2}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot3" value="{{data.system.pocketSlot3}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot4" value="{{data.system.pocketSlot4}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot5" value="{{data.system.pocketSlot5}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot6" value="{{data.system.pocketSlot6}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot7" value="{{data.system.pocketSlot7}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot8" value="{{data.system.pocketSlot8}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot9" value="{{data.system.pocketSlot9}}"/>
            </div>
            <div class="eq-row">
              <input type="text" name="system.pocketSlot10" value="{{data.system.pocketSlot10}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>