
<input type="hidden" name="attr_sheet_mode" value="scum"/>
<div class="frontierscum">
  <div class="horsesheet">
    <div class="horsesheet-header">
      <div class="title">HORSE SHEET</div>
      <div class="rider"></div>
    </div>
    <div class="horsesheet-body">
      <div class="inner1"> 
        <div class="inner2">
          <div class="name-block"> 
            <div class="field-row name-row"> 
              <label data-i18n="name">name</label>
              <input type="text" name="attr_character_name" placeholder="Lightning Bolt"/>
            </div>
            <div class="field-row">
              <label data-i18n="likes">likes</label>
              <input type="text" name="attr_horse_likes" placeholder="Daily baths"/>
              <label data-i18n="type">type</label>
              <input type="text" name="attr_horse_type" placeholder="Brown riding horse"/>
            </div>
            <div class="field-row">
              <label data-i18n="notes">notes</label>
              <input type="text" name="attr_horse_notes"/>
            </div>
            <div class="field-row">
              <label data-i18n="vehicle">vehicle</label>
              <input type="text" name="attr_horse_vehicle"/>
            </div>
          </div>
          <div class="on-your-horse"> 
            <div class="top-label" data-i18n="on_your_horse">on your horse</div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_1"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_2"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_3"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_4"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_5"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_6"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_7"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_8"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_9"/>
            </div>
            <div class="on-horse-row">
              <input type="text" name="attr_on_horse_10"/>
            </div>
          </div>
          <div class="stolen-block">
            <div class="stats">
              <div class="stat-row">         
                <div class="stat-block"> 
                  <label data-i18n="stolen">stolen</label>
                  <div class="horseshoe">
                    <label class="check-container">
                      <input type="checkbox" name="attr_horse_stolen"/><span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="stat-block"> 
                  <label data-i18n="hp">hp</label>
                  <div class="horseshoe">
                    <input type="number" name="attr_hp" placeholder="0"/>
                  </div>
                </div>
              </div>
              <div class="stat-row">
                <div class="stat-block"> 
                  <label data-i18n="morale">morale</label>
                  <div class="horseshoe">
                    <input type="number" name="attr_horse_morale" placeholder="0"/>
                  </div>
                </div>
                <div class="stat-block"> 
                  <label data-i18n="max">max</label>
                  <div class="horseshoe">
                    <input type="number" name="attr_hp_max" placeholder="0"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="horse1"> </div>
          <div class="horse2"></div>
        </div>
      </div>
    </div>
  </div>
</div>