
<form class="frontierscum">
  <div class="npcsheet">
    <div class="npcsheet-header">
      <div class="portrait"> 
        <div class="portrait-inner"> <img src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/></div>
      </div>
      <div class="fields-col">
        <div class="fields"> 
          <div class="field-row"> 
            <label>name</label>
            <input type="text" name="name" value="{{actor.name}}" placeholder="" spellcheck="false"/>
          </div>
          <div class="field-row"> 
            <textarea name="system.notes">{{data.system.notes}}</textarea>
          </div>
        </div>
        <div class="hp-block"> 
          <div class="stat-block hp"> 
            <div class="name"> <span>hp</span></div>
            <div class="value"> 
              <input type="number" name="system.hp.value" value="{{data.system.hp.value}}" placeholder="0"/>
            </div>
          </div>
          <div class="stat-block max-hp"> 
            <div class="name"> <span>max hp</span></div>
            <div class="value"> 
              <input type="number" name="system.hp.max" value="{{data.system.hp.max}}" placeholder="0"/>
            </div>
          </div>
          <div class="stat-block max-hp"> 
            <div class="name"> <span>morale</span></div>
            <div class="value"> 
              <input type="number" name="system.morale" value="{{data.system.morale}}"/>
            </div>
          </div>
        </div>
        <div class="button-row"> 
          <button class="reaction-button" name="reaction"> <i class="fas fa-dice-six"></i>&nbsp; reaction </button>
          <button class="morale-button" name="morale"><i class="fas fa-dice-six"></i>&nbsp; morale</button>
        </div>
      </div>
    </div>
    <div class="npcsheet-body"> 
      <div class="fields"> 
        <div class="field-row"> 
          <label>attack </label>
          <input type="text" name="system.attack" value="{{data.system.attack}}" spellcheck="false"/>
        </div>
        <div class="field-row"> 
          <label>protection </label>
          <input type="text" name="system.protection" value="{{data.system.protection}}" spellcheck="false"/>
        </div>
        <div class="field-row"> 
          <textarea name="system.special">{{data.system.special}}</textarea>
        </div>
      </div>
    </div>
  </div>
</form>